{{ define "main" }}
    <main aria-role="main">
      <header class="homepage-header">
        <div id="title"><img id="title-image" src="title-logo.png"></div>
      </header>
      <div class="homepage-content">
        {{.Content}}
      </div>
      <div class="links">
        <ul>
            <li>
              Lucas is a software engineer focused on operating systems, containers, networking, 
              and cloud infrastructure. Currently, he works on gVisor for Google. 
            </li>
            <li>&nbsp;</li>
            <li>&nbsp;</li>
            <li><a target="_blank" href="https://twitter.com/lucassmanning">Twitter</a></li>
            <li><a target="_blank" href="https://gvisor.dev/">gVisor</a></li>
            <li><a target="_blank" href="https://gvisor.dev/blog/2022/10/24/buffer-pooling/">Latest Writing</a></li>
        </ul>
      </div>
      <div>
        {{ range first 10 .Site.RegularPages }}
            {{ .Render "summary"}}
        {{ end }}
      </div>
    </main>
{{ end }}