 #title {
    width: 50%;
    white-space: nowrap;
    display: inline-block;
    filter: grayscale(100%) brightness(1000%);
 }

 img {
  width: 100%;
 }

 body {
   background-color: black;
   font-family: 'Quicksand', sans-serif;
 }

 ul {
   list-style: none;
   color: white;
   font-size: 2rem;
 }

a {
   color: white;
   text-decoration: none;
 }

 .links {
  width: 50%;
 }

 @media (min-width: 1200px) {
  ul {
    font-size: 1rem;
  }
  .links {
    width: 17%;
  }
  #title {
    width: 17%;
  }
}

 